<template>
  <div>
    <UserAddress />
    <UserAddress />
    <UserAddress />
    <UserAddress />
  </div>
</template>

<script>
  import UserAddress from '@/components/UserAddress';
  export default {
    name: 'UserAddressList',
    components: {
      UserAddress
    }
  }
</script>

<style>

</style>