<template>
  <div>
    <div class="card mb-4 pb-4 bg-light">
      <legend class="p-4">Dados do Usuário</legend>
      <div class="row">
        <div class="col-md-2 justify-content-center align-items-center text-align-center">
          <img class="avatar" src="https://truly-addresses.herokuapp.com/assets/avatar-11c084d19e629552b3e34742edc58f57555da5ddbe90d8657bf7f78bd7bba4bc.jpg" />
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <label class="col-sm-4 col-form-label" for="user_name">Nome</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="Nome..." required="required" type="text" v-model="user_name" />
              </div>
            </div>

            <div class="col-md-6">
              <label class="col-sm-4 col-form-label" for="user_document">CPF</label>
              <div class="col-sm-8">
                <the-mask v-model="user_document" class="form-control" :mask="['###.###.###-##']" placeholder="000.000.000-00" required="required" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="col-sm-4 col-form-label" for="user_email">Email</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="Email..." required="required" type="email" v-model="user_email" />
              </div>
            </div>

            <div class="col-md-6">
              <label class="col-sm-4 col-form-label" for="user_photo">Avatar</label>
              <div class="col-sm-8">
                <input class="form-control" placeholder="Avatar..." required="required" type="file" />
              </div>
            </div>
          </div>

          <!-- # TODO: Phone and CellPhone Masks -->
          <div class="row">
            <div class="col-md-6">
              <label class="col-sm-4 col-form-label" for="user_phone">Telefone</label>
              <div class="col-sm-8">
                <the-mask v-model="user_phone" class="form-control" :mask="['(##) ####-####']" placeholder="(00) 0000-0000" required="required" />
              </div>
            </div>

            <div class="col-md-6">
              <label class="col-sm-4 col-form-label" for="user_status">Situação</label>
              <div class="col-sm-8">
                <select class="form-control" v-model="user_status">
                  <option value="1">Ativo</option>
                  <option value="0">Inativo</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label class="col-sm-4 col-form-label" for="user_birthday">Nascido em...</label>
              <div class="col-sm-8">
                <the-mask v-model="user_birthday" class="form-control" :mask="['####-##-##']" placeholder="YYYY-MM-DD" required="required" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4 mt-4 pb-4 bg-light">
      <!-- # TODO: Auto complete with ajax -->
      <legend class="p-4">Endereço</legend>
      
        <div class="row">
          <div class="col-md-6">
            <label class="col-sm-4 col-form-label" for="user_address_zipcode">CEP</label>
            <div class="col-sm-8">
              <the-mask v-model="user_address_zipcode" class="form-control" :mask="['#####-###']" placeholder="00000-000" required="required" />
            </div>
          </div>

          <div class="col-md-6">
            <label class="col-sm-4 col-form-label" for="user_address_ibge_code">Código IBGE</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Código IBGE..." required="required" type="text" v-model="user_address_ibge_code" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="col-sm-4 col-form-label" for="user_address_state">Estado</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Estado..." required="required" type="text" v-model="user_address_state" />
            </div>
          </div>

          <div class="col-md-6">
            <label class="col-sm-4 col-form-label" for="user_address_city">Cidade</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Cidade..." required="required" type="text" v-model="user_address_city" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="col-sm-4 col-form-label" for="user_address_street">Endereço</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Endereço..." required="required" type="text" v-model="user_address_street" />
            </div>
          </div>

          <div class="col-md-6">
            <label class="col-sm-4 col-form-label" for="user_address_neighborhood">Bairro</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Bairro..." required="required" type="text" v-model="user_address_neighborhood" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="col-sm-4 col-form-label" for="user_address_complement">Complemento</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Complemento..." type="text" v-model="user_address_complement" />
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="actions">
          <input type="button" name="commit" value="Salvar Usuário" class="btn btn-primary btn-save" data-disable-with="Salvando..." />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserForm',
  data(){
    return {
      user_name: '',
      user_document: '',
      user_email: '',
      user_photo: '',
      user_phone: '',
      user_status: '',
      user_birthday: '',
      user_address_zipcode: '',
      user_address_ibge_code: '',
      user_address_state: '',
      user_address_city: '',
      user_address_street: '',
      user_address_neighborhood: '',
      user_address_complement: ''
    }
  },
}
</script>

<style>
  .avatar{
    width:100%
  }
  .btn-save{
    margin-left:15px;
    margin-top:calc(.375rem + 1px);
    margin-bottom:calc(.375rem + 1px)
  }
  .text-align-center{
    text-align:center !important
  }
</style>