<template>
  <div id="app">
    <div class="container h-100">
      <div class="row mt-4 justify-content-center align-items-center">
        <div class="col-12">
          <h2 id="application_title">Truly Address</h2>
          <a class="btn btn-primary" href="/">Criar Usuário</a>
          <hr />
        </div>
      </div>
      <UserForm />
      <hr />
      <h5>Lista de Usuários</h5>
      <div id="user_address_list">
        <UserAddressList />
      </div>
    </div>
  </div>
</template>

<script>
  import UserForm from '@/components/UserForm';
  import UserAddressList from '@/components/UserAddressList';
  export default {
    components: {
      UserForm, UserAddressList
    }
  }
</script>

<style>
  @import'~bootstrap/dist/css/bootstrap.css';
</style>
